<sly data-sly-test.someFieldConfigured="${properties.quoteText || properties.quoteComponentBgImageFileRef}"></sly>

<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html" />
<sly data-sly-call="${template.placeholder @ isEmpty=(wcmmode.edit && !someFieldConfigured)}" />

<div class="quoteComponent animatedParent animateOnce ${properties.disableAnimations ? 'quote-component-animations-disabled' : ''} ${properties.disableMobileAnimationsOnly ? 'quoteComponent-mobile-animations-disabled' : ''}"
    data-appear-top-offset="-150">
    <div class="row">
        <div class="quoteImgWrapper animatedParent animateOnce" data-appear-top-offset="-150">
            <img src="${properties.quoteBgImageFileRef}" style="opacity: 0;" />
            <div class="animated quoteImage quoteImage-repeat-${properties.backgroundAnimation ? properties.backgroundAnimation : 'once'}"
                style="background-image: url('${properties.quoteBgImageFileRef @ context='styleString'}')"> </div>
            <div class="animated animate-uncover-with-offset-parent-from-top animateOnce"
                style="background-color: #ffffff;"></div>
            <div data-sly-test="${!properties.hideOverlay}" class="quoteOverlay animated customFadeInDown delay-750"
                style=" opacity: 0; background-color: ${ properties.quoteOverlayColor  @context='styleString'};  ">
            </div>

            <div class="quoteContentWrapper animatedParent animateOnce" data-appear-top-offset="-150">
                <div class="animated fadeInDownShort delay-1750" style="opacity: 0;">
                    <p
                        class="quoteTextWrapper quoteTextAlign--${properties.quoteTextAlignment ? properties.quoteTextAlignment : ''}
                               quoteTextWrapper-desktop-${properties.desktopFontSize ? properties.desktopFontSize : 'large'}
                               quoteTextWrapper-mobile-${properties.mobileFontSize ? properties.mobileFontSize : 'large'}
                               quoteTextWrapper-ipad-${properties.ipadFontSize ? properties.ipadFontSize : 'large'} 
                               quoteTextWrapper-ipadpro-${properties.ipadFontSize ? properties.ipadFontSize : 'large'}">
                        <span data-sly-test="${!properties.hideOpeningQuote}"
                            class="quoteMark-front animated fadeIn delay-1750
                                     quoteMark-desktop-front-${properties.desktopFontSize ? properties.desktopFontSize : 'large'}
                                     quoteMark-front-mobile-${properties.mobileFontSize ? properties.mobileFontSize : 'large'}
                                     quoteMark-ipad-front-${properties.ipadFontSize ? properties.ipadFontSize : 'large'} 
                                     quoteMark-ipadpro-front-${properties.ipadFontSize ? properties.ipadFontSize : 'large'}">
                            ${properties.quoteMarksUnicodeCheckbox ? properties.quoteMarksUnicode : '&#8220;' @context='html'}</span>
                        <span class="quoteText">
                            <sly data-sly-use.text="${'nonbreak.js'}" />
                            ${text @ context = 'html'}
                        </span>
                        <span data-sly-test="${!properties.hideClosingQuote}" class="quoteMark-back animated fadeIn delay-1750
                                quoteMark-desktop-back-${properties.desktopFontSize ? properties.desktopFontSize : 'large'}
                                quoteMark-back-mobile-${properties.mobileFontSize ? properties.mobileFontSize : 'large'}
                                quoteMark-ipad-back-${properties.ipadFontSize ? properties.ipadFontSize : 'large'} 
                                quoteMark-ipadpro-back-${properties.ipadFontSize ? properties.ipadFontSize : 'large'}"
                            style="opacity: 0;">
                            ${properties.quoteMarksUnicodeCheckbox ? properties.quoteMarksClosingUnicode : '&#8222;' @ context='html'}
                        </span>
                    </p>
                    <p class="QuoteAuthor 
                              quoteAuthorAlign--${properties.quoteAuthorAlignment ? properties.quoteAuthorAlignment : ''} 
                              quoteAuthor--desktop--${properties.desktopFontSize ? properties.desktopFontSize : 'large'} 
                              quoteAuthor--mobile--${properties.mobileFontSize ? properties.mobileFontSize : 'large'}
                              quoteAuthor--ipad--${properties.ipadFontSize ? properties.ipadFontSize : 'large'} 
                              quoteAuthor--ipadpro--${properties.ipadFontSize ? properties.ipadFontSize : 'large'}">
                        ${properties.quoteAuthor}</p>
                </div>
            </div>
        </div>
    </div>
</div>