//
// variables
//
@bright-blue: #008ed7;
@turquoise:#24c5cf;
@light-grey-bg:#f2f2f2;

.overview-hero-wrapper{
	width:100%;
	.overview-hero{
		.overview-img-overlay{position:absolute;left:0px;right:0px;background-repeat:no-repeat;background-position:top center;background-size:cover;width:100%;min-height:400px;min-width:100%;border: none;border-radius: 0px;}
		.overview-hero-copy{
			background-color:@bright-blue;
			margin-top: 16rem;
			border-radius:0px;
			max-width: 54.5rem;
			width:100%;
			.card-body{
				padding: 3.75rem;
				.card-title{max-width:750px;text-align:center; letter-spacing: 1.5px;}
			}
		}
		min-height:550px;
	}
}
@media screen and (max-width:768px){
	.overview-hero-wrapper{
		.overview-hero{
			.overview-hero-copy{
				margin-left:1.5rem !important;
				margin-right:1.5rem !important;
				width:unset;
				.card-body{padding: 1rem;}	
			}
		}
	}
}
@media (max-width: 575.98px) {
	.overview-hero-wrapper{
		.overview-hero{
			.overview-hero-copy{
				.card-body{
					.card-text{text-align:center;}
				}	
			}
		}
	}
}