<sly data-sly-test.configured="${properties.video && properties.width && properties.height &&
                                 (properties.modal != 'true' || properties.action)}"></sly>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-call="${template.placeholder @ isEmpty=(wcmmode.edit && ! configured)}"/>
<sly data-sly-use.youtube="${'youtube.js'}"/>
<sly data-sly-test.videoName="${properties.windowTitle != null ? properties.windowTitle : properties.video}"></sly>
<!--/* 1. SIMPLEST CASE FIRST: INLINE VIDEO FROM DAM */-->
<div id="${properties.videoId}" class="text-center" data-sly-test="${configured && properties.modal != 'true' && !youtube.isConfigured}">
	
	<video id="${currentNode.identifier}"
	       data-video-name="${videoName}" data-component-name="Video" data-video-is-modal="no"
		   width="${properties.width}"
		   data-sly-attribute.controls="${!properties.hideControls}" 
		   data-sly-attribute.class="${properties.videoClass}" 
		   data-sly-attribute.autoplay="${wcmmode.edit ? '' : properties.autoplay}" 
		   data-sly-attribute.loop="${properties.loop}" 
		   data-sly-attribute.preload="${properties.preload}"
	       data-sly-attribute.poster="${properties.poster}">
	       <source src="${properties.video}" type="video/mp4" />
	</video>
	
</div>

<!--/* 2. SIMPLE TOO: YOUTUBE EMBEDDED */-->
<div id="${properties.videoId}" class="youtube-iframe-div container-fluid" data-sly-test="${configured && properties.modal != 'true' && youtube.isConfigured}" 
style="max-width:${properties.width @ context='attribute'}px">
<iframe class="mx-auto d-block" 
    id="iframe-${currentNode.identifier}"
    data-video-name="${videoName}" data-component-name="Video" data-video-is-modal="no"
    width="${properties.width}"
    height="${properties.height}"
    src="${youtube.videoIframeUrl}"
    frameborder="0"
    allow="${wcmmode.edit ? '' : properties.autoplay}"
    data-sly-attribute.allowfullscreen="${!properties.hideControls}"></iframe>
</div>
<!--/* 3. GETTING COMPLICATED: MODAL VIDEO */-->
<div class="animatedParent animateOnce" data-sly-attribute.data-appear-top-offset="-150">
  <button id="${properties.videoId}"
          data-sly-test="${properties.modalActionType == 'button'}" 
          type="button" class="btn btn-primary cta-text-btn display-wrapper-alt fadeInDownHalfVeryShort animated delay-750" 
          data-toggle="modal" data-target="#${currentNode.identifier}">
          ${properties.action}
  </button>
</div>

<div id="${properties.videoId}" data-sly-test="${properties.modal == 'true' && configured}"      
	 class="modal fade pcwr-modal-video" id="${currentNode.identifier}" tabindex="-1" role="dialog" 
	 aria-labelledby="${properties.windowTitle}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: ${properties.width @ context='attribute'}px">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">${properties.windowTitle}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
           <video data-sly-test="${!youtube.isConfigured}"
           data-video-name="${videoName}" data-component-name="Video" data-video-is-modal="yes"
		   id="${currentNode.identifier}" 
		   width="${properties.width}"
		   data-sly-attribute.controls="${!properties.hideControls}" 
		   data-sly-attribute.class="${properties.videoClass}" 
		   data-sly-attribute.loop="${properties.loop}" 
		   data-sly-attribute.preload="${properties.preload}">
	       <source src="${properties.video}" type="video/mp4" />
		</video>

          <iframe data-sly-test="${youtube.isConfigured}"
            id="iframe-${currentNode.identifier}"
            data-video-name="${videoName}" data-component-name="Video" data-video-is-modal="yes"
            width="${properties.width}"
            height="${properties.height}"
            src="${youtube.videoIframeUrl}"
            frameborder="0"
            data-sly-attribute.allowfullscreen="${!properties.hideControls}"></iframe>

        </div>

       
        
      </div>
     
    </div>
  </div>
</div>

<script data-sly-test="${configured}">
document.addEventListener("DOMContentLoaded", function(event) {
  videoInit("${currentNode.identifier @ context='attribute'}", 
		    "${properties.modal @ context='attribute'}" == 'true',
		    "${youtube.isConfigured @ context='attribute'}" == 'true');
});
</script>
<script data-sly-test="${youtube.isConfigured}">
var youtubeLoader;
if(youtubeLoader == undefined) {
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    youtubeLoader = true;
}
</script>