<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlib.all @ categories='tools.stopword'}" />
<span id="sitesData" data-value="${properties.sites}"></span>
<coral-tabview class="toolContainer">
    <coral-tablist target="coral-demo-panel-1">
        <coral-tab id="stopwordTab" class="coral-Heading coral-Heading--2" >Stop Words</coral-tab>
        <coral-tab id="synonymTab" class="coral-Heading coral-Heading--2" >Synonyms</coral-tab>
    </coral-tablist>
    <coral-select class="dropdown" id="selectSite">
    </coral-select>
    <coral-panelstack id="coral-demo-panel-1">
        <coral-panel class="coral-Well stopword">
            <div class="tools__inputContainer">
                <input id="stopword-input" class="tools__input" is="coral-textfield" placeholder="Add a word"
                    name="stopword" value="">
                <aside class="tools__buttonContainer" id="button-group">
                    <button class="tools__button" is="coral-button" variant="primary" type="button" id="add-button">
                        Add
                    </button>
                </aside>
                <coral-search id="search" class="stopword__search_input" placeholder="Search" name="field">
                </coral-search>
                <button class="tools__button tool__reindex" disabled is="coral-button" id="stopwordReindex"
                    variant="primary" type="button">
                    Reindex
                </button>
            </div>
            <section id="table">
                <table id="stopwordTable"  is="coral-table">
                    <colgroup>
                        <col is="coral-table-column" fixedwidth>
                        <col is="coral-table-column">
                        <col is="coral-table-column" fixedwidth>
                    </colgroup>
                    <thead is="coral-table-head" sticky>
                        <tr is="coral-table-row">
                            <th is="coral-table-headercell">Index</th>
                            <th is="coral-table-headercell">Stop Words</th>
                            <th is="coral-table-headercell">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="table-body" is="coral-table-body" />
                </table>
            </section>
            <coral-dialog id="modal">
                <coral-dialog-header>Delete Stop word</coral-dialog-header>
                <coral-dialog-content id="dialogContent"></coral-dialog-content>
                <coral-dialog-footer><button id="deleteButton" is="coral-button" variant="warning"
                        coral-close="">Delete</button></coral-dialog-footer>
            </coral-dialog>
            <coral-alert class="tool__toast" id="alert">
                <coral-alert-header></coral-alert-header>
                <coral-alert-content></coral-alert-content>
            </coral-alert>
        </coral-panel>
        <coral-panel class="coral-Well stopword">
            <div class="tools__inputContainer">
                <input id="synonym-input" class="tools__input" is="coral-textfield" placeholder="Add a word"
                    name="stopword" value="">
                <aside class="tools__buttonContainer" id="button-group">
                    <button class="tools__button" is="coral-button" variant="primary" type="button" id="synonym-button">
                        Add
                    </button>
                </aside>
                <coral-search id="synonymSearch" class="stopword__search_input" placeholder="Search" name="field">
                </coral-search>
                <button class="tools__button tool__reindex" disabled is="coral-button" id="synonymReindex"
                    variant="primary" type="button">
                    Reindex
                </button>
            </div>
            <section id="table2">
                <table is="coral-table">
                    <colgroup>
                        <col is="coral-table-column" fixedWidth>
                        <col is="coral-table-column">
                        <col is="coral-table-column" fiexdWidth>
                        <col is="coral-table-column" fixedWidth>
                    </colgroup>
                    <thead is="coral-table-head" sticky>
                        <tr is="coral-table-row">
                            <th is="coral-table-headercell">Index</th>
                            <th is="coral-table-headercell">Synonyms</th>
                            <th is="coral-table-headercell">Edit</th>
                            <th is="coral-table-headercell">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="table-body-2" is="coral-table-body">

                    </tbody>
                </table>
            </section>

            <coral-dialog id="synonymModal">
                <coral-dialog-header>Delete Synonyms Row</coral-dialog-header>
                <coral-dialog-content id="synonymDialogContent">Are you sure you want to delete this row ?
                </coral-dialog-content>
                <coral-dialog-footer><button id="deleteSynonym" is="coral-button" variant="warning"
                        coral-close="">Delete</button></coral-dialog-footer>
            </coral-dialog>
            <coral-alert class="tool__toast" id="snonymAlert">
                <coral-alert-header></coral-alert-header>
                <coral-alert-content></coral-alert-content>
            </coral-alert>
        </coral-panel>
    </coral-panelstack>
</coral-tabview>