<div id="shimmer-container">
    <div id='find'>
        <div class='shimmer-wrapper'>
            <div class='line-container'>
                <div class="info-wrapper">
                    <div class="animate-shimmer line-container-name-width"></div>
                    <div class='line-content-wrapper'>
                        <div class='icon-wrapper'>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                        </div>
                        <div class='line-wrapper'>
                            <div class='stroke animate-shimmer line-container-office-width'></div>
                            <div class='stroke animate-shimmer line-container-address-width'></div>
                            <div class='stroke animate-shimmer line-container-mobile-width'></div>
                            <div class='stroke animate-shimmer line-container-other-width'></div>
                        </div>
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="animate-shimmer line-container-name-width"></div>
                    <div class='line-content-wrapper'>
                        <div class='icon-wrapper'>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                        </div>
                        <div class='line-wrapper'>
                            <div class='stroke animate-shimmer line-container-office-width'></div>
                            <div class='stroke animate-shimmer line-container-address-width'></div>
                            <div class='stroke animate-shimmer line-container-mobile-width'></div>
                            <div class='stroke animate-shimmer line-container-other-width'></div>
                        </div>
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="animate-shimmer line-container-name-width"></div>
                    <div class='line-content-wrapper'>
                        <div class='icon-wrapper'>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                        </div>
                        <div class='line-wrapper'>
                            <div class='stroke animate-shimmer line-container-office-width'></div>
                            <div class='stroke animate-shimmer line-container-address-width'></div>
                            <div class='stroke animate-shimmer line-container-mobile-width'></div>
                            <div class='stroke animate-shimmer line-container-other-width'></div>
                        </div>
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="animate-shimmer line-container-name-width"></div>
                    <div class='line-content-wrapper'>
                        <div class='icon-wrapper'>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                        </div>
                        <div class='line-wrapper'>
                            <div class='stroke animate-shimmer line-container-office-width'></div>
                            <div class='stroke animate-shimmer line-container-address-width'></div>
                            <div class='stroke animate-shimmer line-container-mobile-width'></div>
                            <div class='stroke animate-shimmer line-container-other-width'></div>
                        </div>
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="animate-shimmer line-container-name-width"></div>
                    <div class='line-content-wrapper'>
                        <div class='icon-wrapper'>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                            <div class='stroke animate-shimmer line-container-icon-width'></div>
                        </div>
                        <div class='line-wrapper'>
                            <div class='stroke animate-shimmer line-container-office-width'></div>
                            <div class='stroke animate-shimmer line-container-address-width'></div>
                            <div class='stroke animate-shimmer line-container-mobile-width'></div>
                            <div class='stroke animate-shimmer line-container-other-width'></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='image-card-shimmer animate-shimmer'></div>
        </div>
    </div>
</div>