<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-call="${template.placeholder @ isEmpty=(wcmmode.edit && !properties.heading)}"/>

<div data-component-name="Find A Professional" class="container-fluid my-5 fifty-fifty ${wcmmode.edit || properties.disableAnimations ? 'fafp-animations-disabled' : ''}">
<input id="fafp-results-url" type="hidden" value="${properties.target}"/>
    <div data-sly-test="${properties.heading}" data-sly-unwrap>
        <div data-sly-test="${properties.imagePos == 'left'}" class="row py-4">
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column position-relative animatedParent animateOnce" style="overflow: hidden;" data-appear-top-offset='-300'>
                <div class="animated animate-uncover-with-offset-parent-from-top animateOnce">
                    <img class="img-fluid width-img" src="${properties.imagePath}">
                  <div class="animated animate-fade-out-top-background animateUncoverfromTop"></div>
                </div>

            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column animatedParent animateOnce" data-appear-top-offset='-300'>
                <div class="px-4 text-content-right animated fadeInDownHalfShort" style="opacity: 0;">
                    <h3>${properties.heading}</h3>
                    <h6>${properties.subHeading}</h6>
                    <div class="pcwr-richtext">${properties.richText @ context='html'}</div>
                    <form class="form-inline mt-4">
						<div class="form-group form-group-search-input mr-sm-3 mb-2">
							<label for="fap-inputSearchValue" class="sr-only">${properties.inputFieldText}</label>
							<input type="text" class="form-control" 
                                   id="fap-inputSearchValue" placeholder="${properties.inputFieldText}"
                                   onkeyup="$('button').prop('disabled', !this.value.match(/^\d{5}$/))">
						</div>
						<button id="fap-button" class="DTM-TAG-fap-button btn btn-primary cta-text-btn mb-2" >${properties.action}</button>
					</form>
                    
                </div>
            </div>
        </div>

        <div data-sly-test="${properties.imagePos == 'right'}" class="row py-4">
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column order-2 order-md-1 animatedParent animateOnce" data-appear-top-offset='-300'>
                <div class="px-4 text-content-left animated fadeInDownHalfShort" style="opacity: 0;">
                    <h3>${properties.heading}</h3>
                    <h6>${properties.subHeading}</h6>
                    <div class="pcwr-richtext">${properties.richText @ context='html'}</div>
                                        <form class="form-inline mt-4">
						<div class="form-group form-group-search-input mr-sm-3 mb-2">
							<label for="fap-inputSearchValue" class="sr-only">${properties.inputFieldText}</label>
							<input type="text" class="form-control" id="fap-inputSearchValue" placeholder="${properties.inputFieldText}">
						</div>
						<button id="fap-button" class="DTM-TAG-fap-button btn btn-primary cta-text-btn mb-2" >${properties.action}</button>
					</form>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column order-1 order-md-2 position-relative animatedParent animateOnce" style="overflow: hidden;" data-appear-top-offset='-300'>
                <div class="animated animate-uncover-with-offset-parent-from-top animateOnce">
                    <img class="img-fluid" src="${properties.imagePath}">
                    <div class="animated animate-fade-out-top-background animateUncoverfromTop"></div>
                </div>
            </div>
        </div>

    </div>

</div>

