//
// variables
//
@bright-blue: #008ed7;
@turquoise:#24c5cf;
@light-grey-bg:#f2f2f2;

#insights-grid {
    //left:-999999px;
	left: 0;
	opacity: 0;

	.insights-gallery-card {
		box-shadow: none;

		&:hover {
			background-color: transparent;
		}
		.card.insights-card-wrapper__inner {
			opacity: 0;
			transform: translateY(220px);
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
			border-radius:0px;
			//z-index: 99;

			&:hover {
				background-color:rgba(0, 0, 0, 0.02);
			}
		}
		
		.insights-card-wrapper__inner--transition {
			transition: all .5s ease;
		}
		
		&.insights-card.in {
			.insights-card-wrapper__inner {
				opacity: 1;
				transform: translate(0);
			}
		}	
	}
}

.insights-gallery-container-wrapper{
	//max-height:510px;
	height:554px;
	overflow:hidden;
}
.insights-gallery-container{
	//padding-right: 7.719rem;
	//padding-left: 7.719rem;
	margin-left:auto !important;
	margin-right:auto !important;
	max-width: 1250px;
	.insights-card{
		//margin-left:auto !important;
		//margin-right:auto !important;
		.insights-body{min-height:250px; max-height: 250px;overflow:hidden;}
	}
}


.insights-gallery-view-more-btn{
	color:@bright-blue;font-size:16px;
	i{vertical-align: text-bottom;}
	&:hover{cursor:pointer;color: darken(@bright-blue, 10%);}
	&:active, &:focus{color: darken(@bright-blue, 20%) !important;}
}
@media (max-width: 575.98px) {
	.insightsCardGallery{>div{>h3{padding-left:1.5rem; padding-right:1.5rem;}}}
	.insights-gallery-container-wrapper{
		.insights-card{
			//margin: auto 39px auto 39px; 
			margin:auto 0px auto 0px;
			overflow: hidden; width:327px; min-width:unset; max-width:unset;
			.insights-body{padding-right: 1.5rem;padding-left: 1.5rem;}
			.insights-card-footer{padding-right: 1.5rem;padding-left: 1.5rem;}
		}
		height:538px;		
	}
}

.insight-row{
	.insight-row-heading {
		margin-bottom: 30px;
	}
	.row{
		&.insights-gallery-filters {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;
		}
		.nav{
			display: flex;
			// gap: 9px !important;
			margin-right: 1rem;
			margin-left: 1rem;
			
			.nav-item {
				margin-right: 9px;
				margin-bottom: 9px;
			}
		}
		.insights-gallery-filter{
			
			.nav-link{
				padding: 15px 25px;
				background-color: #f2f2f2;
				color: black;
				font-family: 'Montserrat';
				font-weight: 600;
				font-size: 14px;

			}
			.nav-link.active{
				background-color: #24c5cf;
				color: white;
				font-weight: 700;

			}
			
		}

	}
}
.insights-card-gallery.insights-gallery-animations-disabled {
	.animatedParent {
		.animated,
		.fadeInDownHalfShort, 
		.insights-card-wrapper__inner {
			animation: none !important;
			-webkit-animation: none !important;
			transform: none !important;
			-ms-animation: none !important;
			opacity: 1 !important;
		}
	}
}

@media (min-width: 576px) and (max-width: 1199px) {
	#insights-grid {
		.insights-gallery-card {
			.card.insights-card-wrapper__inner img {
				max-width: 330px;
				min-width: 330px;
			}
			a.clickable{
				&:hover {
					width: 330px;
					left: 15px;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	#insights-grid {
		.insights-gallery-card {
			.card.insights-card-wrapper__inner {
				width:22.625rem;
				max-width:22.625rem;
				min-width: 22.625rem;
				min-height: 32.625rem;
			}
			a.clickable{
				&:hover {
					left: 15px;
				}
			}
		}
	}
}

// Disabling Animations on IE 10 and 11
@media screen and (-ms-high-contrast: active) , screen and (-ms-high-contrast: none) {
	.insights-card-gallery .animatedParent {
		.animated,
		.fadeInDownHalfShort, 
		.insights-card-wrapper__inner {
			animation: none !important;
			-webkit-animation: none !important;
			transform: none !important;
			-ms-animation: none !important;
			opacity: 1 !important;
		}
	}
}