<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-call="${template.placeholder @ isEmpty=(wcmmode.edit && !properties.altFiftyTitle)}"/>

<!-- Alternating fifty-fifty PCWR-21 -->

<div id="${properties.altFiftyId}" 
     class="alt-fifty-component container-fluid my-5 fifty-fifty ${properties.altFiftyClass} 
            ${!properties.disableAnimations && properties.disableMobileAnimations ? 'alt-fifty-mobile-animations-disabled' : ''}" 
     data-media-block-title="${properties.altFiftyTitle}"
     data-component-name="Alternating Fifty Fifty">

    <div data-sly-test="${properties.altFiftyTitle}" data-sly-unwrap>
        <!-- Asset is positioned on the left -->
        <div data-sly-test="${properties.altFiftyImgPos == 'left'}" class="row py-4">
            <sly data-sly-include="asset-on-left.html"/>
            <sly data-sly-include="content-on-right.html"/>
        </div>

        <!-- Asset is positioned on the right -->
        <div data-sly-test="${properties.altFiftyImgPos == 'right'}" class="row py-4">
            <sly data-sly-include="content-on-left.html"/>
            <sly data-sly-include="asset-on-right.html"/>
        </div>
    </div>
</div>

